@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;

    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(8%)
        saturate(1292%) hue-rotate(186deg) brightness(93%) contrast(96%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(89%)
        sepia(90%) saturate(160%) hue-rotate(214deg) brightness(106%)
        contrast(96%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category Item
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-title-color: #fff;

    @include abstracts.screen(md) {
        --cate-item-bg: #171C28;
    }

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg: #171C28;

    --like-btn-bg: #292E39;

    // Product card
    --product-card-color: #fff;
    --product-card-bg: #171C28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    //Filter form
    --filter-form-color: #fff;
    --filter-form-bg: #292E39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-form-arrow: brightness(0) saturate(100%) invert(20%) sepia(8%)
    saturate(1292%) hue-rotate(186deg) brightness(93%) contrast(96%);
    --filter-form-tag-bg: #171C28;

    // Footer
    --footer-bg-color: var(--header-bg-color);
    --footer-color: #fff;
    --footer-text-color: #9e9da6;

    // Auth
    --auth-color: #B9BABE;
    --auth-intro-bg: #171C28;
    --auth-content-bg: #292E39;
    --auth-text-color: var(--form-text-color);
    --auth-border-color: var(--form-border-color);

    // Forms
    --form-border-color: #B9BABE;
    --form-text-color: var(--form-border-color);
}
